type seemp_service,               service_manager_type;
type cne_service,                 service_manager_type;
type dpmservice,                  service_manager_type;
type color_service,               service_manager_type;
type MinkBinderSvc,               app_api_service, service_manager_type;
type izat_service,                app_api_service, system_api_service, service_manager_type;
type regionalization_service,     system_api_service, service_manager_type;
type wigigp2p_service,            app_api_service, system_server_service, service_manager_type;
type wigig_service,               app_api_service, system_server_service, service_manager_type;
type vendor_perf_service,         app_api_service, system_server_service, service_manager_type;
type qchook_service,              service_manager_type;
